<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.full_name, user_path(user) %></td>
    <td><%= user.rank %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% unless current_user.is_sa? %>
      <td><%= link_to 'Delete', user_path(user), method: :delete %></td>
    <% end %> 
  </tr>    
<% end %>