<h1>Éxito</h1>
<h2>La contraseña se ha cambiado correctamente</h2>
<p>Desde ahora puedes iniciar sesión con la nueva contraseña. No olvides manenter tu contraseña en secreto. Quizás quieras ir a <%= link_to 'Home', :home %>.
